<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yqs.dao.BrowseMapper">
  <resultMap id="BaseResultMap" type="com.stu.yqs.domain.Browse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodId" jdbcType="INTEGER" property="goodId" />
    <result column="browserId" jdbcType="INTEGER" property="browserId" />
    <result column="browseTime" jdbcType="TIMESTAMP" property="browseTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodId, browserId, browseTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from browse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from browse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.yqs.domain.Browse" useGeneratedKeys="true" keyProperty="id">
    insert into browse (id, goodId, browserId, 
      browseTime)
    values (#{id,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, #{browserId,jdbcType=INTEGER}, 
      #{browseTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.yqs.domain.Browse" useGeneratedKeys="true" keyProperty="id">
    insert into browse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodId != null">
        goodId,
      </if>
      <if test="browserId != null">
        browserId,
      </if>
      <if test="browseTime != null">
        browseTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="browserId != null">
        #{browserId,jdbcType=INTEGER},
      </if>
      <if test="browseTime != null">
        #{browseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.yqs.domain.Browse">
    update browse
    <set>
      <if test="goodId != null">
        goodId = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="browserId != null">
        browserId = #{browserId,jdbcType=INTEGER},
      </if>
      <if test="browseTime != null">
        browseTime = #{browseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.yqs.domain.Browse">
    update browse
    set goodId = #{goodId,jdbcType=INTEGER},
      browserId = #{browserId,jdbcType=INTEGER},
      browseTime = #{browseTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>