<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yqs.dao.GoodMapper">
  <resultMap id="BaseResultMap" type="com.stu.yqs.domain.Good">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="goodDescribe" jdbcType="VARCHAR" property="goodDescribe" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="originalPrice" jdbcType="DOUBLE" property="originalPrice" />
    <result column="postage" jdbcType="DOUBLE" property="postage" />
    <result column="isNew" jdbcType="CHAR" property="isNew" />
    <result column="freeShipping" jdbcType="CHAR" property="freeShipping" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerId" />
    <result column="academy" jdbcType="CHAR" property="academy" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="thumbNumber" jdbcType="INTEGER" property="thumbNumber" />
    <result column="browseNumber" jdbcType="INTEGER" property="browseNumber" />
    <result column="reviewNumber" jdbcType="INTEGER" property="reviewNumber"/>
    <result column="goodType" jdbcType="INTEGER" property="goodType"/>
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, goodDescribe, tag, price, originalPrice, postage, isNew, freeShipping, 
    ownerId, academy, publishTime, image, thumbNumber, browseNumber, reviewNumber, goodType, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yqs_good
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 自定义sql start -->
  <select id="searchLikeGoods" parameterType="com.stu.yqs.domain.search.SimilarGood" resultType="java.lang.String">
    select name
    from yqs_good
    <where>
    	and name like concat('%',#{content,jdbcType=CHAR},'%')
    <if test="goodType!=null">and goodType =#{goodType,jdbcType=INTEGER}</if>
    <if test="tag!=null">and tag =#{tag,jdbcType=CHAR}</if>
    </where> 
    order by publishTime desc
    limit #{DefaultNSearchNumber,jdbcType=INTEGER}
  </select>
  
  <select id="searchGoods" parameterType="com.stu.yqs.domain.search.GoodSearch" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yqs_good
    <where>
    <if test="startId!=null">and id&lt;#{startId,jdbcType=INTEGER}</if>
    <if test="academy!=null">and academy =#{academy,jdbcType=CHAR}</if>
    <if test="tag!=null">and tag =#{tag,jdbcType=CHAR}</if>
    <if test="ownerId!=null">and ownerId =#{ownerId,jdbcType=INTEGER}</if>
     <if test="state!=null">and state =#{state,jdbcType=INTEGER}</if>
    <if test="goodType!=null">and goodType =#{goodType,jdbcType=INTEGER}</if>
    <if test="keyword!=null">and ( goodDescribe like concat('%',#{keyword,jdbcType=CHAR},'%') 
    	or name like concat('%',#{keyword,jdbcType=CHAR},'%') )
    </if>
    </where>
    order by id desc
   	<choose>
   		<when test="range!=null">limit #{range,jdbcType=INTEGER}</when>
   		<otherwise>limit #{DEFAULT_NUMBER,jdbcType=INTEGER}</otherwise>
   	</choose>
  </select>
  <!-- 自定义sql end -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yqs_good
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.yqs.domain.Good" useGeneratedKeys="true" keyProperty="id">
    insert into yqs_good (id, name, goodDescribe, 
      tag, price, originalPrice, 
      postage, isNew, freeShipping, 
      ownerId, academy, publishTime, 
      image, thumbNumber, browseNumber, 
      reviewNumber, goodType, state)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{goodDescribe,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{originalPrice,jdbcType=DOUBLE}, 
      #{postage,jdbcType=DOUBLE}, #{isNew,jdbcType=CHAR}, #{freeShipping,jdbcType=CHAR}, 
      #{ownerId,jdbcType=INTEGER}, #{academy,jdbcType=CHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{image,jdbcType=VARCHAR}, #{thumbNumber,jdbcType=INTEGER}, #{browseNumber,jdbcType=INTEGER}, 
      #{reviewNumber,jdbcType=INTEGER}, #{goodType,jdbcType=INTEGER}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.yqs.domain.Good"  useGeneratedKeys="true" keyProperty="id">
    insert into yqs_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="goodDescribe != null">
        goodDescribe,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="originalPrice != null">
        originalPrice,
      </if>
      <if test="postage != null">
        postage,
      </if>
      <if test="isNew != null">
        isNew,
      </if>
      <if test="freeShipping != null">
        freeShipping,
      </if>
      <if test="ownerId != null">
        ownerId,
      </if>
      <if test="academy != null">
        academy,
      </if>
      <if test="publishTime != null">
        publishTime,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="thumbNumber != null">
        thumbNumber,
      </if>
      <if test="browseNumber != null">
        browseNumber,
      </if>
      <if test="reviewNumber != null">
        reviewNumber,
      </if>
      <if test="goodType != null">
        goodType,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodDescribe != null">
        #{goodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="postage != null">
        #{postage,jdbcType=DOUBLE},
      </if>
      <if test="isNew != null">
        #{isNew,jdbcType=CHAR},
      </if>
      <if test="freeShipping != null">
        #{freeShipping,jdbcType=CHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="academy != null">
        #{academy,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="thumbNumber != null">
        #{thumbNumber,jdbcType=INTEGER},
      </if>
      <if test="browseNumber != null">
        #{browseNumber,jdbcType=INTEGER},
      </if>
      <if test="reviewNumber  != null">
        #{reviewNumber,jdbcType=INTEGER},
      </if>
      <if test="goodType  != null">
        #{goodType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.yqs.domain.Good">
    update yqs_good
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodDescribe != null">
        goodDescribe = #{goodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="originalPrice != null">
        originalPrice = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="postage != null">
        postage = #{postage,jdbcType=DOUBLE},
      </if>
      <if test="isNew != null">
        isNew = #{isNew,jdbcType=CHAR},
      </if>
      <if test="freeShipping != null">
        freeShipping = #{freeShipping,jdbcType=CHAR},
      </if>
      <if test="ownerId != null">
        ownerId = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="academy != null">
        academy = #{academy,jdbcType=CHAR},
      </if>
      <if test="publishTime != null">
        publishTime = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="thumbNumber != null">
        thumbNumber = #{thumbNumber,jdbcType=INTEGER},
      </if>
      <if test="browseNumber != null">
        browseNumber = #{browseNumber,jdbcType=INTEGER},
      </if>
      <if test="reviewNumber  != null">
        reviewNumber = #{reviewNumber,jdbcType=INTEGER},
      </if>
      <if test="goodType != null">
        goodType = #{goodType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.yqs.domain.Good">
    update yqs_good
    set name = #{name,jdbcType=VARCHAR},
      goodDescribe = #{goodDescribe,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      originalPrice = #{originalPrice,jdbcType=DOUBLE},
      postage = #{postage,jdbcType=DOUBLE},
      isNew = #{isNew,jdbcType=CHAR},
      freeShipping = #{freeShipping,jdbcType=CHAR},
      ownerId = #{ownerId,jdbcType=INTEGER},
      academy = #{academy,jdbcType=CHAR},
      publishTime = #{publishTime,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      thumbNumber = #{thumbNumber,jdbcType=INTEGER},
      browseNumber = #{browseNumber,jdbcType=INTEGER},
      reviewNumber = #{reviewNumber,jdbcType=INTEGER},
      goodType = #{goodType,jdbcType=INTEGER},
      state = #{state,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>