<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yqs.dao.SearchMapper">
  <resultMap id="BaseResultMap" type="com.stu.yqs.domain.Search">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="searchContent" jdbcType="VARCHAR" property="searchContent" />
    <result column="searchTime" jdbcType="TIMESTAMP" property="searchTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, searchContent, searchTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from search
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.yqs.domain.Search">
    insert into search (id, userId, searchContent, 
      searchTime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{searchContent,jdbcType=VARCHAR}, 
      #{searchTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.yqs.domain.Search">
    insert into search
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="searchContent != null">
        searchContent,
      </if>
      <if test="searchTime != null">
        searchTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="searchContent != null">
        #{searchContent,jdbcType=VARCHAR},
      </if>
      <if test="searchTime != null">
        #{searchTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.yqs.domain.Search">
    update search
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="searchContent != null">
        searchContent = #{searchContent,jdbcType=VARCHAR},
      </if>
      <if test="searchTime != null">
        searchTime = #{searchTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.yqs.domain.Search">
    update search
    set userId = #{userId,jdbcType=INTEGER},
      searchContent = #{searchContent,jdbcType=VARCHAR},
      searchTime = #{searchTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>