<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yqs.dao.ThumbMapper">
  <resultMap id="BaseResultMap" type="com.stu.yqs.domain.Thumb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodId" jdbcType="INTEGER" property="goodId" />
    <result column="thumberId" jdbcType="INTEGER" property="thumberId" />
    <result column="thumbTime" jdbcType="TIMESTAMP" property="thumbTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodId, thumberId, thumbTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thumb
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <!-- 自定义sql start -->
  <select id="selectAppoint" parameterType="com.stu.yqs.domain.search.ThumbSearch" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thumb
    where goodId = #{goodId,jdbcType=INTEGER} 
    and thumberId=#{thumberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByGoodId" parameterType="java.lang.Integer">
    delete from thumb
    where goodId = #{goodId,jdbcType=INTEGER}
  </delete>
  <select id="searchByGoodRange" parameterType="com.stu.yqs.domain.search.ThumbSearch" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thumb
    <where>
    <if test="thumberId!=null">thumberId=#{thumberId,jdbcType=INTEGER}</if>
     and goodId &gt; #{startGoodId,jdbcType=INTEGER} 
    and goodId &lt; #{endGoodId,jdbcType=INTEGER} 
    </where>
    
  </select>
  <!-- 自定义sql end -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from thumb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.yqs.domain.Thumb" useGeneratedKeys="true" keyProperty="id">
    insert into thumb (id, goodId, thumberId, 
      thumbTime)
    values (#{id,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, #{thumberId,jdbcType=INTEGER}, 
      #{thumbTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.yqs.domain.Thumb" useGeneratedKeys="true" keyProperty="id">
    insert into thumb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodId != null">
        goodId,
      </if>
      <if test="thumberId != null">
        thumberId,
      </if>
      <if test="thumbTime != null">
        thumbTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="thumberId != null">
        #{thumberId,jdbcType=INTEGER},
      </if>
      <if test="thumbTime != null">
        #{thumbTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.yqs.domain.Thumb">
    update thumb
    <set>
      <if test="goodId != null">
        goodId = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="thumberId != null">
        thumberId = #{thumberId,jdbcType=INTEGER},
      </if>
      <if test="thumbTime != null">
        thumbTime = #{thumbTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.yqs.domain.Thumb">
    update thumb
    set goodId = #{goodId,jdbcType=INTEGER},
      thumberId = #{thumberId,jdbcType=INTEGER},
      thumbTime = #{thumbTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>