<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yqs.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.stu.yqs.domain.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emailNumber" jdbcType="VARCHAR" property="emailNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="academy" jdbcType="CHAR" property="academy" />
    <result column="phoneNumber" jdbcType="BIGINT" property="phoneNumber" />
    <result column="idType" jdbcType="CHAR" property="idType" />
    <result column="registerDate" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emailNumber, password, name, academy, phoneNumber, idType, registerDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yqs_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPhoneNumber" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yqs_user
    where phoneNumber = #{phoneNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yqs_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.yqs.domain.User">
    insert into yqs_user (id, emailNumber, password, 
      name, academy, phoneNumber, 
      idType, registerDate)
    values (#{id,jdbcType=INTEGER}, #{emailNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{academy,jdbcType=CHAR}, #{phoneNumber,jdbcType=BIGINT}, 
      #{idType,jdbcType=CHAR}, #{registerDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stu.yqs.domain.User">
    insert into yqs_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="emailNumber != null">
        emailNumber,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="academy != null">
        academy,
      </if>
      <if test="phoneNumber != null">
        phoneNumber,
      </if>
      <if test="idType != null">
        idType,
      </if>
      <if test="registerDate != null">
        registerDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="emailNumber != null">
        #{emailNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="academy != null">
        #{academy,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=CHAR},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.yqs.domain.User">
    update yqs_user
    <set>
      <if test="emailNumber != null">
        emailNumber = #{emailNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="academy != null">
        academy = #{academy,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        phoneNumber = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="idType != null">
        idType = #{idType,jdbcType=CHAR},
      </if>
      <if test="registerDate != null">
        registerDate = #{registerDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.yqs.domain.User">
    update yqs_user
    set emailNumber = #{emailNumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      academy = #{academy,jdbcType=CHAR},
      phoneNumber = #{phoneNumber,jdbcType=BIGINT},
      idType = #{idType,jdbcType=CHAR},
      registerDate = #{registerDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>